body {
   font-family: Patrick Hand, cursive;
    background-image: linear-gradient(rgb(202, 252, 220),rgb(255, 204, 226)) ;
}
.link-header{
     font-size: 40px;
    color: rgb(157, 98, 157);
    text-decoration:underline;
}
h1{
 font-size: 80px;
    background-image: linear-gradient(rgb(195, 225, 239),rgb(237, 200, 207));
    color: rgb(249, 123, 142);
    border: 4px solid rgb(194, 225, 253);
    border-radius:30px ;
    font-family: Montserrat;
}
h2{
    font-size: 50px;
    color: rgb(250, 105, 182);
    background-color: rgb(190, 234, 255);
    box-shadow: 30px 19px 7px rgb(248, 216, 221);

}
ol{
    font-size: 40px;
    color: rgb(240, 145, 140);
    background-color: antiquewhite;
}
div{
    font-size: 41px;
    color: slateblue;
    background-color: rgb(231, 252, 254);
}
